<!doctype html>
<html>
    <head>
        <title>Catalog</title>
        <link type='text/css' rel='stylesheet' href='{{ url_for('static', filename='bootstrap.min.css') }}'>
        <link type='text/css' rel='stylesheet' href='{{ url_for('static', filename='style.css') }}'>
    </head>
    <body>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                <a class="navbar-brand" href="{{ url_for('showCategories') }}">Item Catalog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="btn btn-primary" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-4">
                    {% block categories %}
                    {% endblock %}
                </div>
                <div class="col-md-8">
                    {% block items %}
                    {% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>